---
import UnfoldIcon from "../Icons/UnfoldIcon.astro";
---

<span
	class="inline-flex items-center justify-center h-full p-3 -mr-3 text-[#586069] dark:text-[#8b949e] hover:bg-[#c8e1ff] hover:text-[#0366d6] dark:hover:bg-[#38444d] dark:hover:text-[#58a6ff] cursor-pointer transition-colors duration-200"
	title="Expand all"
>
	<UnfoldIcon />
</span>
