@import "tailwindcss";
@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@font-face {
	font-family: "Miriam Libre";
	src:
		local("Miriam Libre Regular"),
		url("/fonts/MiriamLibre-Regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
	font-display: block;
}

@font-face {
	font-family: "Miriam Libre";
	src:
		local("Miriam Libre Bold"),
		url("/fonts/MiriamLibre-Bold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
	font-display: block;
}

:root {
	--header-height-sm: 5rem;
	--header-height-md: 8rem;
	--header-height-lg: calc(var(--header-height-md) + 2.25rem);
}

html {
	background-color: #ffffff;
}

html[data-theme="dark"] {
	background-color: #0a0a0a;
}

body {
	background-color: inherit;
}

@theme {
	--font-miriam-libre: "Miriam Libre", sans-serif;

	--breakpoint-*: initial; /* reset */
	--breakpoint-sm: 53rem; /* red */
	--breakpoint-md: 63rem; /* green */
	--breakpoint-lg: 75rem; /* yellow */

	--radius-lg: 0.2rem;
}
