/* Nightfall theme for highlight.js */

.hljs {
	background: #1c1e26;
	color: #b6c4f2;
}

.hljs-comment,
.hljs-quote {
	color: #5c6e80;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
	color: #b877db;
	font-weight: 600;
}

.hljs-string,
.hljs-doctag,
.hljs-regexp {
	color: #64d1a9;
}

.hljs-number,
.hljs-literal {
	color: #ff9668;
}

.hljs-built_in,
.hljs-builtin-name,
.hljs-meta,
.hljs-meta-keyword {
	color: #70b0ff;
}

.hljs-title,
.hljs-title.class_,
.hljs-title.function_,
.hljs-function .hljs-title {
	color: #fab795;
}

.hljs-type,
.hljs-class .hljs-title,
.hljs-attr-name {
	color: #dbbe7f;
}

.hljs-attr,
.hljs-attribute {
	color: #ffbd76;
	font-weight: 600;
}

.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
	color: #ff757f;
}

.hljs-variable,
.hljs-template-variable {
	color: #d5d8da;
}

.hljs-constant,
.hljs-symbol,
.hljs-bullet {
	color: #e95678;
}

.hljs-operator {
	color: #baacff;
}

.hljs-punctuation {
	color: #b4c2f0;
}

.hljs-section {
	color: #7fdaff;
}

.hljs-link {
	color: #34d3fb;
	text-decoration: underline;
}

.hljs-addition {
	color: #50fa7b;
	background-color: #26342b;
}

.hljs-deletion {
	color: #ff5370;
	background-color: #512737;
}

.hljs-emphasis {
	font-style: italic;
}

.hljs-strong {
	font-weight: 700;
}
