---
import FileViewer from "../components/FileViewer/FileViewer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
	registry="crates"
	title="crates.io"
	description="Compare Rust crate versions and view source-aware diffs for the Rust ecosystem."
>
	<div
		id="content"
		class="relative flex-1 p-4 overflow-auto min-w-0 bg-white dark:bg-neutral-950"
	>
		<FileViewer />
	</div>
</Layout>
