---
import FileViewer from "../components/FileViewer/FileViewer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
	registry="npm"
	title="npm"
	description="Compare npm package versions and view source-aware diffs for JavaScript and TypeScript ecosystems."
>
	<div
		id="content"
		class="relative flex-1 p-4 overflow-auto min-w-0 bg-white dark:bg-neutral-950"
	>
		<FileViewer />
	</div>
</Layout>
