---
import FileViewer from "../components/FileViewer/FileViewer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
	registry="rubygems"
	title="RubyGems"
	description="Compare RubyGems package versions and view source-aware diffs for the Ruby ecosystem."
>
	<div
		id="content"
		class="relative flex-1 p-4 overflow-auto min-w-0 bg-white dark:bg-neutral-950"
	>
		<FileViewer />
	</div>
</Layout>

<script>
	function handleUrlChange() {}

	window.addEventListener("popstate", handleUrlChange);
	window.addEventListener("start-diff", handleUrlChange);

	// Initial load
	handleUrlChange();
</script>
