---
---

<div
	id="search-results"
	class="absolute z-50 w-full mt-1 bg-white dark:bg-neutral-900 border border-neutral-200 dark:border-neutral-700 rounded-lg shadow-lg overflow-hidden hidden"
>
	<div id="search-results-list" class="max-h-80 overflow-y-auto"></div>
</div>
